<% layout("/layouts/boilerplate")  %>
<br>
<div class="row">
    <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title  %>" type="text" class="form-control" required> 
        </div>
            
        <div class="mb-3">
            <label for="description" class="form-label">Edit Description</label>
            <textarea name="listing[description]" class="form-control" required> <%= listing.description  %>  </textarea>
        </div>
        <div class="mb-3">
            Previous Image <br>
            <img src="<%= orignalImageUrl %>">         
        </div>
        
        <div class="mb-3">
            <label for="Image" class="form-label">Upload New Image</label>
            <input name="listing[image]"  type="file" class="form-control" >
        </div>
          
        <div class="mb-3">
            <label for="Price" class="form-label">Edit Price</label>
            <input name="listing[price]" value="<%= listing.price  %>" type="number" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Edit Location</label>
            <input name="listing[location]" value="<%= listing.location  %>" type="text" class="form-control" required>
        </div>
          
        <div class="mb-3">
            <label for="location" class="form-label">Edit Country</label>
            <input name="listing[country]" value="<%= listing.country  %>" type="text" class="form-control" required>
        </div>

          <br> <br>
          <button class="btn btn-dark edit-btn">Edit</button>
    </form>
    </div>
</div>
<script src="/Project-1/public/js/script.js"></script>